@model TaculaLA1.Models.Student

<h2>Student Details</h2>

<dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">@Model.Id</dd>

    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Course</dt>
    <dd class="col-sm-9">@Model.Course</dd>

    <dt class="col-sm-3">Date Enrolled</dt>
    <dd class="col-sm-9">@Model.DateEnrolled.ToString("dd/MM/yyyy")</dd>
</dl>

<a asp-action="Index" class="btn btn-primary">Back to List</a>
